.project>img{
    height: 100px;
    width: 200px;
}
.project{
    margin: 15px;
    height: 100px;
    width: 200px;
    transition: transform 100ms ease-in;
}
.project:hover{

    color: white;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    cursor: pointer;
}
.projectcontent{
    padding: 10px;

}
.projectcontent>h4{
    padding: 5px;
}
.projectcontent>p{
    padding: 5px;
    font-size: 15px;
}